.nav-active,
.menu li > *:not(ul):not(.menu-title):not(details):active,
.menu li > *:not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > *:not(ul):not(details):not(.menu-title)
  ):is(summary):not(.active):focus-visible,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active).focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):not(summary):not(.active):focus,
:where(
    .menu
      li:not(.menu-title):not(.disabled)
      > details
      > summary:not(.menu-title)
  ):is(summary):not(.active):focus-visible {
  color: #ff444a;
  text-decoration: underline;
  background: #fff;
}
